@maincolor: var(--primary);
@svgcolor: #fff;
@button-tab-border-color: @maincolor;
@button-tab-default-border-color: @maincolor;
@button-tab-active-border-color: @maincolor;
@button-tab-active-background-color: @maincolor;
@mblue: #507daf;
@fontColor: #f1f1f1;
@activecolor: var(--primary);
@blackf: rgb(51, 51, 51);
@blacks: rgb(102, 102, 102);
@wordcolor: #1a1a1a;
