@maincolor:#bd2523;
@button-tab-border-color:@maincolor;
@button-tab-default-border-color:@maincolor;
@button-tab-active-border-color:@maincolor;
@button-tab-active-background-color:@maincolor;
@mblue:#507daf;